<tr>
	<td><%= post.user_id %></td>
	<td><%= post.title %></td>
	<td><%= post.tag %></td>
	<td><%= post.body %></td>
	<td><%= link_to 'View post', post %></td>
	<td><%= link_to 'Edit post', edit_post_path(post) %></td>
	<td><%= link_to 'Delete post', post, :confirm => 'Please confirm you want to delete?', :method => :delete %></td>
</tr>