<% @post.tags.build %>

<%= form_for @post do |f| %>	
	<%= f.label :title %>
	<%= f.text_field :title %>

	<%= f.label :body %>
	<%= f.text_area :body %>

	<h4>Tags</h4>
	<%= render :partial => 'tags/form',
						 :locals => {:form => f} %>

	<br />
	<%= f.submit "Publish" %>
<% end %>

