<div class="row-fluid">
	<div class="span6 offset3">
		<h2><%= @post.title %></h2>
		<p><%= @post.user %></p>
		<p><%= @post.tag %></p>
		<p><%= @post.body %></p>
		
		<%= render @comments %>	

		<%= form_for @post do |f| %>
			<%= fields_for :comments, @new_comment do |comment| %>
					<%= comment.label :comment, "Comment" %>
					<%= comment.text_field :comment %>
					<%= comment.submit "Submit comment" %>
			<% end %>
		<% end %>

		<%= link_to 'Blog home', root_path %>
		<%= link_to 'Edit post', edit_post_path(@post) %>
		<%= link_to 'Delete post', @post, :confirm => 'Please confirm you want to delete?', :method => :delete %>
	</div>
</div>