<h2>Post</h2>

<h3><%= @post.title %></h3>
<p><%= @post.user %></p>
<p><%= @post.tag %></p>
<p><%= @post.body %></p>

<%= link_to 'Blog home', "/" %>
<%= link_to 'Edit post', "posts/edit" %>
<%= link_to 'Delete post', @post, :confirm => 'Please confirm you want to delete?', :method => :delete %>
