<div class="row-fluid">
	<div class="span6 offset3">
		<h2><%= @post.title %></h2>
		<p><%= @post.user %></p>
		<p><%= @post.tag %></p>
		<p><%= @post.body %></p>

		<%= form_for @post do |f| %>
			<%= f.fields_for :comments do |comment| %>
				<%= comment.label :comment, "Comment" %>
				<%= comment.text_area :comment %>
			<% end %>

			<%= f.submit "Submit comment" %>
		<% end %>
		<%= link_to 'Blog home', "/" %>
		<%= link_to 'Edit post', "posts/edit" %>
		<%= link_to 'Delete post', @post, :confirm => 'Please confirm you want to delete?', :method => :delete %>
	</div>
</div>