<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href=<%= root_path %>>Bloc Head</a>
					<div class ="nav-collapse collapse">
						<ul class="nav">
							<li class="active"><a href=<%= root_path %>>Home</a></li>
							<li class="active"><a href=<%= new_post_path %>>New post</a></li>
							<li class="active"><a href=<%= users_path%>>Community</a></li>
							<li class="active"><a href=<%= about_path  %>>About</a></li>
							<li class="active"><a href=<%= new_user_path %>>Sign up</a></li>
							<li class="active"><a href="#">Sign in</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>