<div class="navbar navbar-inverse navbar-fixed-top" id="navbar">
			<div class="navbar-inner">
				<div class="container" id="nav_container">
					<a class="brand" id="logo" href=<%= root_path %>>Bloc Head Official Blog</a>
					<div class ="nav-collapse collapse">
						<ul class="nav" id="nav_links">
							<li class="active"><a href=<%= root_path %>>Home</a></li>
							<li class="active"><a href=<%= new_post_path %>>New post</a></li>
							<li class="active"><a href=<%= users_path%>>Community</a></li>
							<li class="active"><a href=<%= new_user_path %>>Sign up</a></li>
						</ul>
						<div class="navbar-form pull-right" id="login_form">
            	<% if user_signed_in? %>
	            	Logged in as <strong><%= current_user.email %></strong>.
	            	<%= link_to 'Edit profile', edit_user_registration_path %> |
	            	<%= link_to "Logout", destroy_user_session_path, method: :delete %>
							<% else %>
								<%= link_to "Sign_up", new_user_registration_path %> |
								<%= link_to "Login", new_user_session_path %>
							<% end %>
          	</div>
					</div>
				</div>
			</div>
		</div>